*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
header{

	height: 70px;
	width:100%;
	background-color: #EC715F;
}
.h-wrap{
	width:1024px;
	margin: 0 auto;
}
header img{
	height:70px;
}
.h-contents{
	float: right;
	clear: both;
}
.ham{
	display:none;
}
header a{
	float:left;
	font-size: 16px;
	line-height: 70px;
	padding: 0 30px;
	text-decoration: none;
	color: #FAFAFA;
}
.main-visual{
	height: 650px;
	padding-top: 200px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}
.main-visual h2{
	font-size: 64px;
	color:#FAFAFA;
	padding-bottom: 10px;

}
.main-visual p {
	font-size: 20px;
	color: #FAFAFA;
}
.port{
	background-color: #ECEFF1;
}
.port-wrap{
	width: 920px;
	margin: 0 auto;
	padding:90px 0;
}
.port h2,p{
	text-align: center;
	color:#000000;
}
.fake-border{
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 0 auto;
	margin-top: 8px;
}
.port img{
	width:300px;
	object-fit: cover;
	height: 250px;
	float: left;
	padding-right: 10px;
	margin-bottom: 10px;
}
.port h2{
	font-size: 32px;
}
.port p{
	padding:30px 0;
	font-size: 16px;
}
.feat{
	margin: 0 auto;
	width:980px;
	padding: 90px 0;
}
.feat h2,h3,h4{
	text-align: center;
	color: #000000;
}
.feat h2{
	font-size: 32px;
}
.feat h3{
	margin: 30px 0;
	font-size: 16px;

}
.feat p{
	text-align: left;
	font-size: 16px;
	color:#000000;
}
.stren{
	display: inline-block;
	text-align: center;
	width: 320px;
	height: auto;
	padding-right: 10px;
}
i{
	font-size: 60px;
}
.feat h4{
	font-size: 20px;
	padding: 10px 0;
}
.pro{
	background-color: #ECEFF1;
	padding: 90px 0;
}
.pro-wrap{
	width: 1024px;
	margin: 0 auto;
	color: #000000;

}
.pro h2,p{
	text-align: center;
}
.pro p{
	padding: 30px 0;
}
.pro h2{
	font-size: 32px;
}
.hist img{
		border-radius: 50%;
		width: 250px;
}
.hist{
	color:#000000;
	float:left;
	text-align: center;
	width: 50%;
}
.hist p,h3{
	text-align: left;
}
.cont-wrap{
	padding: 90px 0;
	width: 800px;
	margin: 0 auto;
}
.cont-wrap h2{
	text-align: center;
}
.cont-wrap p{
	padding: 30px 0;
}
.other-box{
	width: 400px;
	display: inline-block;
	float: none;
}
.other{
	width: 200px;
	margin: 0 auto;
}
.other p{
	text-align: left;
	padding:5px 0 20px;
	margin: 0 auto;
}
.sns-box{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.sns{
	margin: 0 auto;
	text-align:center;
	position: relative!important;
}
.sns p{
	float:left;
	padding-right: 20px;
	font-size: 50px;
	padding-top: 5px;
}
.sns h3{
	font-size: 20px;
	text-align: center;
	position: relative!important;
	width:250px;
}
.sns-icons{
	display: inline-block;
}
.fa-twitter:before {
    content: "\f099";
    padding: 0 20px;
}
footer{
	height: 60px;
	width: 100%;
	background-color: #EC715F;
}
footer p{
	font-size: 16px;
	color:#FAFAFA;
	line-height: 60px;
}

@media screen and (max-width: 767px){
	header{
		height: 50px;
	}
	header img{
		height: 50px;
	}
	.h-wrap{
		width: 90%;
	}
	.h-contents{
		display: none;
	}
	.ham{
		display: block;
		border: 1px solid white;
		float: right;
		margin: 5px 0;
		padding:4px 0;
	}
	.line{
		width:28px;
		height: 2px;
		background-color:white;
		margin: 6px 5px;
	}
	.main{
		width:90px;
	}
	.main-visual{
		background-image: url(img/code.png);
		background-position: top;
		background-size: cover;
		height:650px;
		padding-top:200px;
		color:#FAFAFA;
	}
	.main-visual h2{
		font-size: 40px;
		text-align: center;
	}
	.main-vusual p{
		font-size: 18px;
		text-align:center;
	}
	.port-wrap{
		width: 90%;
		text-align: center;
	}
	.port img{
		float:none;
		display: block;
		margin: 0 auto 10px;
		padding-right: 0;
	}
	.imgs{
		text-align: center;
	}
	.imgs > .nsp{
		display:none;

	}
	.feat{
		width:320px;
	}
	.feat h3{
		font-size: 16px;
		text-align: center;
	}
	.stren{
		display: block;
		padding: 10px 0;
		height: auto;
	}
	.pro-wrap{
		width: 90%;
	}
	.other-box{
		display: block;
	}
	.sns-box{
		display: block;
		width:90%;
		text-align: center;
		margin:0 auto;
	}
	.hist{
		text-align: center;
		float:none;
		width:100%;
	}
	.hist img{
		text-align: center;
		padding-bottom: 15px;
	}
	.hist p{
		padding: 0 0 15px;
		text-align: center;
	}
	.hist h3{
		padding:5px 0;
		text-align: center;
		padd
	}
	.cont-wrap{
		width:90%;
	}
	.other-box{
		display: box;
		width: auto;
	}
	.other h3{
		text-align: center;
	}
	.other p{
		text-align: center;
		padding:5px 0 20px;
	}
	.sns{
		width:auto;
		display: inline-block;
		position: relative;
	}
	}
	.sns p{
		padding:0;
	}
	.fab{
		font-size: 50px;
	}
	.sns-icons{
		text-align: center;
	}
	.sns-icons p{
		display: inline-box;

	}
	.sns h3{
		padding-bottom: 5px;
		position: relative;
		right:0px;
	}
	.fa-twitter{
		padding: 0 8px;
	}
}